<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :taskname %>
    <%= form.text_field :taskname %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div>
  
  <div class="field">
    <%= form.label :importance %>
    <%= form.radio_button :importance, 3 %> 3 stars
    <%= form.radio_button :importance, 2 %> 2 stars
    <%= form.radio_button :importance, 1 %> 1 star
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.radio_button :category, "Work" %> Work
    <%= form.radio_button :category, "School" %> School
    <%= form.radio_button :category, "Others" %> Others
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
