<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <div class="control-label col-sm-4">
      <%= form.label :taskname %>
    </div>
    <div class="col-sm-8">
      <%= form.text_field :taskname, class: "form-control" %>
    </div>
  </div>

  <div class="form-group field">
    <div class="control-label col-sm-4">
      <%= form.label :deadline %>
    </div>
    <div class="col-sm-8">
      <%= form.datetime_select :deadline, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group field">
    <div class="control-label col-sm-4">
      <%= form.label :importance %>
    </div>
    <div class="col-sm-8">
      <%= form.radio_button :importance, 3 %> 3 stars
      <%= form.radio_button :importance, 2 %> 2 stars
      <%= form.radio_button :importance, 1 %> 1 star
    </div>
  </div>

  <div class="form-group field">
    <div class="control-label col-sm-12">
      <%= form.label :category %>
    </div>
    <div class="col-sm-8">
      <%= form.radio_button :category, "Work" %> Work
      <%= form.radio_button :category, "School" %> School
      <%= form.radio_button :category, "Others" %> Others
    </div>
  </div>

  <div class="form-group actions">
    <div class="col-sm-2">    
      <%= form.submit "Submit", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
