<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Task Name</th>
      <th scope="col">Time Left</th>
      <th scope="col">Deadline</th>
      <th scope="col">Importance</th>
      <th scope="col">Category</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  
  <tbody>
    <% current_user.tasks.each do |task| %> 
    <% time_left = task.deadline - Time.now %>
    <% if task.completed == true %>
      <tr class="table-success">
    <% elsif time_left <= 24.hours %>
      <tr class="table-danger">
    <% elsif time_left <= 3.days %>
      <tr class="table-warning">
    <% else %>
      <tr class="table-light">
    <% end %>
        <td scope="row"><%= task.taskname %></td>
        <td><%= time_ago_in_words(Time.now - time_left).capitalize %></td>                
        <td><%= task.deadline %></td>
        <td>
          <% (1..task.importance).each { %>
            <%= icon('fas', 'star') %>        
          <% } %>
        </td>
        <td><%= task.category %></td>
        <!-- <td><%#= link_to 'Show', task %></td> -->
        <td><%= link_to icon('fas', 'edit'), edit_task_path(task) %></td>
        <td><%= link_to icon('fas', 'trash-alt'), task, method: :delete, data: { confirm: 'Are you sure to delete the task?'} %></td>
        <% if task.completed == true %>
          <td><%= "Completed" %></td>
        <% else %>
          <td><%= "Inprogress" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-group col-sm-4">
  <%= link_to 'New Task', new_task_path, class: "btn btn-success" %>
</div>

