<p id="notice"><%= notice %></p>

<h2 class="center"><%= @task.taskname %></h2>

<div class="container" style="margin-top: 5%; margin-bottom: 5%">
  <div class="alert alert-dismissible alert-info">     
    <% if @task.description.nil? || @task.description.empty? %>
      <h5 class="center">The task doesn't contain any description.</h5>
    <% else %>
      <p><%= @task.description %></p>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="center">
      Deadline: <%= @task.deadline.strftime("%a %b %d %H:%M") %> &nbsp;       
      <% time_left = @task.deadline - Time.now %>
      <% if @task.completed == true %>
        <span class="badge badge-success">Completed</span>          
      <% elsif time_left < 0 %>
        <span class="badge badge-secondary">Expired</span>                
      <% elsif time_left <= 24.hours %>
        <span class="badge badge-danger">
          <%= distance_of_time_in_words(Time.now, @task.deadline).capitalize %>
        </span>          
      <% elsif time_left <= 3.days %>
        <span class="badge badge-warning">
          <%= distance_of_time_in_words(Time.now, @task.deadline).capitalize %>
        </span>          
      <% else %>
        <span class="badge badge-success">
          <%= distance_of_time_in_words(Time.now, @task.deadline).capitalize %>
        </span>          
      <% end %> &nbsp;     
      <%= @task.category %> &nbsp;  
      <% (1..@task.importance).each { %>
        <%= icon('fas', 'star') %>        
      <% } %>
  </div>
</div>

<div class="form-group col-sm-4">
  <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-outline-success" %>
  <%= link_to 'Back', tasks_path, class: "btn btn-danger" %>
</div>