<div class="custom-bg">
  <div class="container mt-3">
    <h2 class="text-center"><%= @task.taskname %></h2>

    <div class="container mt-5 mb-5">
      <% if @task.description.nil? || @task.description.empty? %>
        <h5 class="center">The task doesn't contain any description.</h5>
        <p class="center">Please click on "Edit" to add your descrption.</p>
      <% else %>
        <p class="text-center"><%= @task.description %></p>
      <% end %>
    </div>

    <div class="container text-center">
          Deadline: <%= @task.deadline.strftime("%a %b %d %H:%M %p") %> &nbsp;       
          <% time_left = @task.deadline - Time.now %>
          <% if @task.completed == true %>
            <span class="badge badge-success">Completed</span>          
          <% elsif time_left < 0 %>
            <span class="badge badge-secondary">Expired</span>                
          <% elsif time_left <= 24.hours %>
            <span class="badge badge-danger">
              <%= distance_of_time_in_words(Time.now, @task.deadline).capitalize %>
            </span>          
          <% elsif time_left <= 3.days %>
            <span class="badge badge-warning">
              <%= distance_of_time_in_words(Time.now, @task.deadline).capitalize %>
            </span>          
          <% else %>
            <span class="badge badge-success">
              <%= distance_of_time_in_words(Time.now, @task.deadline).capitalize %>
            </span>          
          <% end %> &nbsp;     
          <%= @task.category %> &nbsp;  
          <% (1..@task.importance).each { %>
            <%= icon('fas', 'star') %>        
          <% } %>
    </div>

    <div class="text-center mt-3">
      <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-outline-success" %>
      <%= link_to 'Back', tasks_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>